.dropdown0{
    position: relative;
    display: inline-block;
   
}
.dropdown1{
    margin-top: 0;
    position: absolute;
    background: rgb(42, 212, 27);
    border: 1px solid whitesmoke;
    padding: 2px;
    list-style: none;
    border-radius: 5px;
}