input[type=text]{
    padding: 5px;
    margin: 5px;
    border:3px solid brown;
    border-radius: 30px;
}
input[type=date]{
    padding: 5px;
    margin: 5px;
    border:3px solid cadetblue;
    border-radius: 30px;
}
input[type=tel]{
    padding: 5px;
    margin: 5px;
    border:3px solid darkgoldenrod;
    border-radius: 30px;
}
input{
    padding: 5px;
    margin: 5px;
    border: 3px solid blueviolet;
    border-radius: 30px;
}
button{
    padding: 4px;
    margin: 5px;
    border: 3px solid darkgreen;
    border-radius: 20px;
}
input[type="radio"] {
    accent-color: blue;
    border: 3px solid darkgreen;
    border-radius: 20px;

}
